@page
@model IndexModel
@{
    ViewData["Title"] = "CI/CD Demo App";
}

<div class="text-center">
    <h1 class="display-4" style="color:#0078d4;">Welcome to Azure DevOps Demo v1</h1>
    <p>This Web App is deployed using Azure App Services Manual Push External Git.</p>
</div>
